<div>
    <div class="winning">PLAYER  <span th:utext="${player}" class="wpn"></span></div>
    <div><img src="/images/trophy.png" alt="trophy"></div>
    <div><img src="/images/winner.png" alt="winner"></div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var closeBtn = document.querySelector(".close");

        if (closeBtn) {
            closeBtn.addEventListener("click", function () {
                document.getElementById('popup').style.display = 'none';
            });

            window.addEventListener("click", function (event) {
                if (event.target === document.getElementById('popup')) {
                    document.getElementById('popup').style.display = 'none';
                }
            });
        }
    });
</script>
